.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20vw; 
    padding-right: 20vw;
    top: 0%;
    right: 0%;
    left: 0%;
    position: sticky;  
    z-index: 100; 
    border-style: none;
    border-width: 1px;
    border-color: #303030;
    background-color: #fff;
    box-shadow: 1px 1px 10px -1px #000;
    font-family: cursive;
}

.header__logo{
    font-weight: 100;    
    letter-spacing: 5px;
    /* color: #303030; */
    /* text-align: center; */

}

.header__logo  > h2{
    font-size: 60px;
    background: -webkit-linear-gradient(#eee, #333);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}